/* Commons */
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Form */
.form {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-head + .form-body,
.form-body + .form-actions {
    margin-top: 3rem;
}

.form-head,
.form-actions {
    text-align: center;
}

.form h1 {
    font-size: 1.5rem;
    color: #212529;
    font-style: italic;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-row + .form-row {
    margin-top: 1.75rem;
}

.form-col {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.form-col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.form-label {
    text-transform: uppercase;
}

.form-label.error {
    color: #dc3545;
}

.form-label:hover {
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: .5rem;
    margin-top: .5rem;
    background: #e5e4e4;
    border: 1px solid #e5e4e4;
    border-radius: 0;
    font-size: 1rem;
    outline: 0px transparent !important;
}

.form-control.error {
    border-color: #dc3545;
}

.form-control + label.error,
.custom-control-input + label.error {
    display: none !important;
}

.form-asterisk {
    display: inline-block;
    margin-top: -7px;
    color: #dc3545;
    vertical-align: middle;
    font-weight: bold;
}

.form-text {
    display: inline-block;
    padding: 0 15px;
    color: #7a8289;
}

/* Radios */
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    margin-top: .5rem;
    padding-left: 1.5rem;
}

.custom-control-inline {
    display: inline-block;
    vertical-align: top;
    margin-right: 2rem;
}

.custom-control:hover {
    cursor: pointer;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control-label {
    position: relative;
    vertical-align: top;
}

.custom-control-label::before,
.custom-control-label::after {
    content: "";
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}

.custom-control-label::before {
    background-color: #fff;
    border: #adb5bd solid 1px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.custom-control-input:checked ~ .custom-control-label::after {
    background: #000;
}

.form-button {
    padding: .5rem 1.5rem;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .15s linear, color .25s linear;
}

.form-button:hover {
    background: #fff;
    color: #000;
    transition: background-color .15s linear, color .25s linear;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .form-row + .form-row,
    .form-col-6 + .form-col-6 {
        margin-top: 1rem;
    }

    .form-col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .form-text {
        padding-left: 0;
    }

    .custom-control-inline {
        display: block;
        margin-right: 0;
    }
}
